* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.grid {
    padding: 15px;
    padding-top: 36px;
    max-width: 1200px;
    margin: 0 auto;
    /* alinhamento centro */
}

.grid::after {
    content: '';
    display: block;
    clear: both;
}

.grid .col {
    width: 33.33%;
    height: 300px;
    padding: 15px;
    float: left;
}

.grid .col .col-content {
    width: 100%;
    height: 100%;
    background: red;
}


p {
    clear: both;
}

.menu {
    position: fixed;
    background-color: black;
    width: 100%;
}

.menu ul {
    list-style: none;
    max-width: 1200px;
    margin: 0 auto;
    /* alinhamento centro */
}

.menu ul li {
    display: inline;
    float: left;
}

.menu ul li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: white;
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover {
    background: #333;
}

.background-blue {
    background-color: blue;
}

#section1 {
    padding-top: 50px;
    height: 100vh;
    max-width: 100%;
}

@media (max-width: 768px) {
    .grid .col {
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 960px) {
    .grid .col {
        width: 50%;
    }
}